.tree-table-view {
    -fx-background-color: transparent;
}

.tree-table-view:focused {
    -fx-background-color: transparent;
}

.tree-table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 17px;
}

.tree-table-view .column-header-background .label {
    -fx-background-color: transparent;
}

.tree-table-view .tree-table-cell {
    -fx-font-size: 15px;
}

.tree-table-row-cell {
    -fx-font-size: 17px;
}